* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0 !important;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100svh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img,
label {
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

em {
  font-style: normal;
}

#rangeFields{
  display: none;
}
